.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 22px 40px -25px rgba(55, 72, 154, 0.446432);
  border-radius: 25px;

  padding: 45px;

  display: flex;
  flex-direction: row;

  transition: transform 1s;
}

.full-screen {
  transform: scale(1.5);
}

.wrapper .wrapper-info {
  display: flex;
  flex-direction: column;
}

.wrapper .wrapper-info .title {
  font-family: PT Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #0F1220;

  margin: 0 0 4px 0;
}

.wrapper .wrapper-info .sub-title {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #0F1220;
}

.wrapper .wrapper-info .wrapper-sleep-cards {
  margin: 40px 0 0 0;
  display: grid;

  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}